*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

h1{
    color: rgba(229,49,112,255);
    text-align: center;
    margin: 35px 0px;
}

p{
    font-size: 15px;
    text-align: center;
    margin: 20px 0px;
}


.row .col{
    float: left;
    width: 350px;
    text-align: left;
    background-color: black;
    color: white;
    margin: 20px;
}

.row .col img{
    height: 100px;
    float: left;
}

.contents{
    float: left;
    padding: 5px;    
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.text{
    text-align: left;
    margin: 5px;
}

#email{
    color: rgb(23,204,241);
}

h3{
    margin: 5px;
}




